.titleP{
    font-family: 'Mulish', sans-serif;
}
.bottomBorder{
    border-bottom: 0.3rem solid rgb(218, 214, 214);
}
.searchInput{
    box-shadow: none!important;
    border-left: none!important;
}
.searchIcon{
    background: none!important;
    border-right: none!important;
    cursor: pointer;
}
.header{
    border-bottom: 0.1rem solid rgb(192, 188, 188)!important;
    padding: 4px;
}
.img{
    min-width: 5rem;
    max-width: 5rem;
    min-height: 5rem;
    max-height: 5rem;
}
.dropdownBg{
    background-color: rgb(243, 240, 240);
}
.btn{
    background-color: #FF7F00!important;
    border: none!important;
}
.btn:hover{
    background-color: #ff4800!important;
}
.trBottomBorder{
    border-bottom: 0.1rem solid rgb(216, 202, 202)!important;
}
.boxShadow:focus{
    box-shadow: none!important;
    border: none!important;
}
.borderedBtn{
    border: 1px solid gray!important;
    color: #ff4800!important;
}
.borderedBtn:hover{
    background-color: #ff4800!important;
    color: #fff!important;
}
.dropdownBg{
    background-color: rgb(205, 210, 214)!important;
}
.dropdownItem:hover{
 background-color: #fff!important;
 color: #ff4800!important;
}
